doctype html
html
  head
    include ../layouts/header.jade
  body
    div#app.body-box
      div.detail-box(v-cloak)
        p.title {{content.version}}
        div.md-style(v-html="content.desc")
    each item in development.assets.vendor.javascripts
      script(src="/assets/javascripts/#{item}.js")   
    script(src="/assets/javascripts/jquery.min.js")
    script(src="/tmp/assets/javascripts/common.js")
    script(src="/assets/javascripts/controller/appversion/marked.js")
    script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")
   
    script.
      var appId = "#{query.id ? query.id : '0'}";
      var version = "#{query.ver ? query.ver : '0'}";
      if(typeof APP.#{route.controller}.#{route.action} == 'function'){
        new APP.#{route.controller}.#{route.action}()
      }
