doctype html
html
  head
    include ../layouts/header.jade
  body
    div#app.body-box
      div.list-box
        ul
          li(v-for="item in historylist" v-cloak)
            a(v-bind:href="'/appversion/detail?id=' + item.app_poi_apps.app_id + '&ver=' + item.version")
              p
                span.name {{item.app_poi_apps.name}} {{item.version}} 介绍 
                svg.svg-style
                    use(xlink:href="/assets/svg/icon.svg#right") 
                span.time {{item.publish_time | localDateMonDay}}

    each item in development.assets.vendor.javascripts
      script(src="/assets/javascripts/#{item}.js")   
    script(src="/assets/javascripts/jquery.min.js")
    script(src="/tmp/assets/javascripts/common.js")
    script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")
   
    script.
      var app_id = "#{query.id ? query.id : '0'}";
      if(typeof APP.#{route.controller}.#{route.action} == 'function'){
        new APP.#{route.controller}.#{route.action}()
      }
