doctype html
html
  head
    include ../layouts/header.jade
  body
    div#app.body-box
      div.login-box
        div.left
          div.title(v-cloak)
            label {{info.type == 'number' ? '账号密码登录' : '手机验证码登录'}}
            //- span(v-on:click="changeLoginType()") {{info.type == 'number' ? '手机验证码登录' : '账号密码登录'}}
          div.input-box
            div.input-item
              input(type="text" v-model="info.number" v-bind:placeholder="info.type == 'number' ? '输入手机号' : '输入手机号'")
            div.input-item(v-show="info.type == 'number'")
              input(type="password" v-model="info.pwd" placeholder="输入密码")
            div.input-item.getverify(v-show="info.type == 'phone'")
              input(type="text" v-model="info.verify" placeholder="输入验证码")
              span#get_verify(v-on:click="getVerify()") 获取验证码

            div.auto-logo
              label.check-box
                input(type="checkbox")
                span 下次自动登录
              a(href="/login/resetpwd") 忘记密码？
            div.login-btn
              a(href="javascript:;" v-on:click="Login()") 登录

        div.right
          p 还没有搭配家账号？
          a(href="/login/register") 立即注册

      each item in development.assets.vendor.javascripts
        script(src="/assets/javascripts/#{item}.js")

      script(src="/tmp/assets/javascripts/common.js")
      script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")

      script.
        if(typeof APP.#{route.controller}.#{route.action} == 'function'){
          new APP.#{route.controller}.#{route.action}()
        }
    footer
      div.frends-link(style="position: fixed;bottom: 0px;width: 100%;background:rgba(0,0,0,0.5)")
        div(style="display:block;width:100%;text-align:center;padding: 0;color:#fff;")
        | Copyright©2014-2016 
        a(href="http://www.dpjia.com" target="_blank" style="color:#fff") 搭配家（dpjia.com） 
        | 版权所有

