doctype html
html
  head
    include ../layouts/header.jade
  body
    div#app.body-box.clear
      div.register-box
        div.top-tab.clear
          ul.clear
            li(v-bind:class="info.type == 'single' ? 'active' : ''" v-on:click="choiceSignalUser()") 个人用户
            li(v-bind:class=" info.type == 'company' ? 'active' : ''" v-on:click="choiceCompanyUser()") 企业用户
        div.vue-box(v-show="info.type == 'single'")
          <vue-personaluser :types="usertype" v-on:changeusertype="getusertypes"></vue-personaluser>
        div.vue-box(v-show="info.type == 'company'")
          <vue-companyuser :types="usertype" v-on:changeusertype="getusertypes"></vue-companyuser>

        //- div.go-login
        //-   p 已有搭配家账号？
        //-   a(href="/login/index") 登录
        div.go-login
          div.xiaoxuan(v-for="msg in tips")
            label {{msg.title}}
            p.sub-title {{msg.subtitle}}
            div.box.clear(v-for="item in msg.list") 
              span.point ● 
              p.list
                span.tip-text {{item}}

      div.success-bg.hidden
        div.success-box
          i.fa.fa-check-circle 
          p.tips 信息提交成功！

          p.tip-text 我们会在1个工作日内审核，审核通过后，账号密码将以短信形式发送给您，请您及时查收！

          span.success-ok(v-on:click="submitSuccess()") 确定

    div.frends-link
      div(style="display:block;width:100%;text-align:center;color:#fff;")
        | 搭配家 版权所有 2014-2016 
        a(href="http://www.dpjia.com" target="_blank" style="color:#fff") www.dpjia.com  
        | All right reserved 京ICP备15029423号

    each item in development.assets.vendor.javascripts
      script(src="/assets/javascripts/#{item}.js")

    script(src="/tmp/assets/javascripts/common.js")
    script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")

    script.
      if(typeof APP.#{route.controller}.#{route.action} == 'function'){
        new APP.#{route.controller}.#{route.action}()
      }
      
    
