doctype html
html
  head
    include ../layouts/header.jade
  body
    div#app.body-box
      div.login-box
        div.title 
          | 找回密码
          a(href="/login/index") < 返回登录页
        div.step-box
          span.icon-circle.active 1
          span.text.active 验证注册手机号
          span.step-line(v-bind:class="step == 'second' ? 'active' : ''") >>>
          span.icon-circle(v-bind:class="step == 'second' ? 'active' : ''") 2
          span.text(v-bind:class="step == 'second' ? 'active' : ''") 设置新密码
        div.input-box(v-show="step == 'first'")
          div.input-item
            label 账户：
            input(type="text" v-model="info.number" placeholder="请输入手机号")
          div.input-item.getverify
            label 验证码：
            input(type="text" v-model="info.picverify" placeholder="")
            img(:src="info.img_code" v-on:click="changeImg()")
          div.next-step
            a(href="javascript:;" v-on:click="getNext()") 下一步

        div.second-input-box(v-show="step == 'second'")
          div.input-item
            span 通过手机{{info.number}}
            button.getverify#get_verify(type="button" v-on:click="getVerify()") 获取验证码
          div.input-item
            input(type="text" v-model="info.verify" placeholder="验证码")
          div.input-item
            input(type="password" v-model="info.newpwd" v-on:blur="NewPwdConfirm()" placeholder="新密码")
          div.login-btn
            a(href="javascript:;" v-on:click="confirmBtn()") 下一步

      each item in development.assets.vendor.javascripts
        script(src="/assets/javascripts/#{item}.js")

      script(src="/tmp/assets/javascripts/common.js")
      script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")

      script.
        if(typeof APP.#{route.controller}.#{route.action} == 'function'){
          new APP.#{route.controller}.#{route.action}()
        }

    footer
      div.frends-link(style="position: fixed;bottom: 0px;width: 100%;background:rgba(0,0,0,0.5)")
        div(style="display:block;width:100%;text-align:center;padding: 0;color:#fff;")
        | Copyright©2014-2016 
        a(href="http://www.dpjia.com" target="_blank" style="color:#fff") 搭配家（dpjia.com） 
        | 版权所有
