doctype html
html
  head
    include ../layouts/header.jade
  body
    div#app.body-box
      div(style="width:800px; margin:20px auto")
        p 正在打开柜体编辑器，若未打开柜体编辑器，请先点击进入  
          a(href="http://open.dpjia.com/downloads/index/dpbureausetup.exe" target="_blank")  安装《柜体编辑器》！
        p 《柜体编辑器》界面截图，3分钟做一套定制柜         3秒钟导出孔位图  ....（此窗口将在111秒钟自定关闭）
        img(src="/assets/images/installwardrobe.png" style="width:800px")

      each item in development.assets.vendor.javascripts
        script(src="/assets/javascripts/#{item}.js")
      script(src="/tmp/assets/javascripts/common.js")
      script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")
      script.
        if(typeof APP.#{route.controller}.#{route.action} == 'function'){
          new APP.#{route.controller}.#{route.action}()
        }
