div(style="width:100%;text-align:center;padding:20px 0;background-color:#ecf0f5;margin-top:40px;") 
  <vue-footer></vue-footer>
  div.frends-link
    div.frends-box
      ul.clear
        li 友情链接：
        li
          a(href="") 链接1
        li
          a(href="") 链接2
        li
          a(href="") 友情链接3
        li
          a(href="") 友情链接4
    div(style="display:block;width:100%;text-align:center;padding:20px 0;")
      | Copyright©2014-2016 
      a(href="http://www.dpjia.com" target="_blank") 搭配家（dpjia.com） 
      | 版权所有v1.5.0 
each item in development.assets.vendor.javascripts
  script(src="/assets/javascripts/#{item}.js")

script(src="/tmp/assets/javascripts/common.js")
script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")

script.
  if(typeof APP.#{route.controller}.#{route.action} == 'function'){
    new APP.#{route.controller}.#{route.action}()
  }