div.footer-style(style="text-align:center;background-color:#eee;padding:20px 0 0 0;margin-top:55px;") 
  <vue-footer></vue-footer>
  div.frends-link
    div.frends-box
      p 友情链接：
        a(href="#") 链接1
        a(href="#") 链接2
        a(href="#") 友情链接3
        a(href="#") 友情链接4
          
    div(style="display:block;width:100%;text-align:center;padding: 0;color:#fff;")
      | Copyright©2014-2016 
      a(href="http://www.dpjia.com" target="_blank" style="color:#fff") 搭配家（dpjia.com） 
      | 版权所有v1.5.0 
each item in development.assets.vendor.javascripts
  script(src="/assets/javascripts/#{item}.js")

script(src="/tmp/assets/javascripts/common.js")
script(src="/tmp/assets/javascripts/controller/#{route.controller}/#{route.action}.js")

//- 百度地图API
script(src="http://api.map.baidu.com/api?v=2.0&ak=n0dzf54cjjE9TfBiijtOG5z7&services=&t=20160401164342")

script.
  if(typeof APP.#{route.controller}.#{route.action} == 'function'){
    new APP.#{route.controller}.#{route.action}()
  }